worker_processes 1;

events {
    worker_connections 1024;
}

http {
    sendfile on;

    server {
        listen 80;

        location / {
            proxy_pass https://herix.huaxuex.com;
            proxy_set_header Host herix.huaxuex.com;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Proxy-Auth "${WX_PROXY_SECRET}";
            proxy_ssl_server_name on;
            proxy_ssl_name herix.huaxuex.com;
        }
    }
}
